// Place all the styles related to the half_product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hp_index_code{
  width: 10%;
}
.hp_index_name{
  width: 20%;
}
.hp_index_pig{
  width: 35%;
}
.hp_index_dispersant{
  width: 35%;
}
