// Place all the styles related to the pigment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pig_index_code{
  width: 10%;
}
.pig_index_name{
  width: 35%;
}
.pig_index_pig_no{
  width: 10%;
}
.pig_index_structure{
  width: 30%;
}
.pig_index_maker{
  width: 15%;
}
